# Python files
__pycache__/
*.py[cod]
*$py.class
.env
venv/

# Project specific
*.xlsx    # Excel files
*.docx    # Word documents
poetry.lock     # Poetry lock file if you want to track it explicitly
/External Libraries/
/Scratches and Consoles/

# IDE specific
.idea/
.vscode/