# Python files
__pycache__/
*.py[cod]
*$py.class
.env
venv/

# Build and distribution
build/
dist/
*.spec
Contract_Generator.spec
base_library.zip

# Private business assets
Logo_Zdziebkowscy.png
contract.ico
Umowa_template.docx
spis_umow_automat.xlsx
convert_icon.py
wystawione_umowy/

# IDE specific
.idea/
.vscode/
/External Libraries/
/Scratches and Consoles/

# IDE indexing
.pytest_cache/
*.iml
.idea_modules/
*.iws
out/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Operating System
.DS_Store
Thumbs.db